#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
//   body {
//     background: #eee;
//     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//     font-size: 14px;
//     color: #000;
//     margin: 0;
//     padding: 0;
//   }
  
  .swiper {
    width: 80%;
    height: 100%;
  }
  .swiper-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .slideInfo{
    z-index: 99;
    position: relative;
    left: 12vw;
  }
  .swiper-slide {
    overflow: hidden;
    border-radius: 5px;
  }
  .pscardinfo{
    position: absolute;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
       p,h3{
        color: white;
       }
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev{
       background-color: rgb(211, 224, 224);
       position: absolute;
       right: 12vw;
       border-radius: 50%;
       color: black;
       width: 4vw;
       height: 4vw;
  }
  .swiper-button-next{
       background-color: rgb(211, 224, 224);
       position: absolute;
       border-radius: 50%;
       font-size: 2vw;
       color: black;
       width: 4vw;
       height: 4vw;
  }

.mySwiper2{
 
}
 .ss2{
  height: 19vw;
   display: flex;
   border: 1px solid rgb(194, 192, 192);
   flex-direction: column;
   background-color: rgb(255, 255, 255);
         .workThumb{
           object-fit: cover;
         }
  }
  
  .workBot{
    position: relative;
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 1vw;
    .wo{
      display: flex;
      flex-direction: column;
    }
    img{
      position: relative;
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      object-fit: cover;
    }
  }