body{
    overflow-x: hidden;
}
.dummy{
    width: 100vw;
    background-color: aquamarine;
    height: 500vh;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
}
.Link{
    text-decoration: none;
    color: white;
}