<% include ./partials/header.ejs  %>
   <div class="w-full h-screen flex justify-center items-center bg-zinc-300">
      <div class="w-[24vw] h-[30vw] bg-zinc-100 rounded-xl">

      </div>
   </div>
<% include ./partials/footer.ejs  %>