@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
  
    &.active{
        background-color: #fff;
        color: black;
    }
}
.container{
    transition: 0.5s all ease;
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 999;
font-family: "Montserrat", sans-serif;
      
 text-wrap: nowrap;
 font-weight: 500;
 color: #fff;
          span{
            cursor: pointer;
          } 
    .topNav{
        padding: 1vw 12vw;
        background-color: #06431A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.active{
            transition: all ease 0.3s;
            background-color: white;
            color: black;
        }
        &.active .join-btn{
            border: 1px solid green;
        }
        .left{
          display: flex;
          align-items: center;
          gap: 2vw;
          justify-content: space-between;
          .dot{
            color: #15A34F;
            font-size: 2vw;
          }
          h2{
            cursor: pointer;
            font-size: 2vw;
          }
            input{
                padding: 0 1vw;
                width: 30vw;
                height: 3vw;
            }
            input::placeholder{
                font-family: "Montserrat", sans-serif;
                position: relative;
                left: 2vw;
                color: red; }
        }
        .right{
            display: flex;
            align-items: center;
            margin-left: 18vw;
            gap: 1.5vw;
            .join-btn{
                border: 1px solid #fff;
                padding:0.7vw 1vw;
                border-radius: 5px;
                cursor: pointer;
            }
            .join-btn:hover{
                background-color: #15A34F;
            }
            .user{
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: 1vw;
                 img{
                    width: 3vw;
                    height: 3vw;
                    object-fit: cover;
                    border-radius: 50%;
                 }
                .option{
                    transition: all ease 0.5s;
                    width: 15vw;
                    cursor: pointer;
                    position: absolute;
                    top: 3.3vw;
                    right: 0.2vw;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5vw;
                    padding: 1vw;
                    color: grey;
                    background-color: white;
                    border: 1px solid rgb(92, 91, 91);
                    border-radius: 5px;
                     span:hover{
                        color: black;
                     }
                }
                
            }
        }
    } 
    .botNav{
       
        padding: 1vw 0;
        color: rgb(8, 0, 0);
        background-color: #fff;
        display: flex;
        gap: 1.5vw;
        align-items: center;
        justify-content: center;
    }

}
