*{
    font-family: "Montserrat", sans-serif; 
}
.Feature-container{
    height: 45vw;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    text-wrap: nowrap;
    background-color: #054315;
}

.h-one{
    display: flex;
    justify-content: space-between;
    padding: 1.59vw 8vw;
    .feature-left{
        position: relative;
        left: 3vw;
        top: 18vw;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        h3{
            font-size: 3vw;
            font-weight: 600;
            color: white;
        }
        input{
            border: none;
            outline: none;
            padding:0.9vw 2vw;
            width: 35vw;
            border-radius: 3px;
        }
        .popularTag{
            display: flex;
            align-items: center;
            gap: 1vw;
            margin-top: 0.7vw;
            color: white;
            p{
                font-size: 1vw;
            }
            button{
                background-color: transparent;
                font-size: 0.8vw;
                padding: 0.4vw 0.7vw;
                border-radius: 35px;
                color: white;
                border: none;
                border: 1px solid white;
                cursor: pointer;
            }
        }
    }  
    .feature-right{
        img{
          width: 60vw;
          margin-top: 3.4vw;
          
        }
    }
}
.featurePic{
    width: 30vw;
    height: 30vw;
    background-color: red;
    border-radius: 50%;
}

.spons{
    width: 100vw;
    background-color: #ffffff;
    height: 6vw;
}
.spons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    h3{
        color: rgb(166, 157, 157);
        font-weight: 600;
        font-size: 1vw;
    }
}
.secHead{
    font-size: 1.8vw;
    color: rgb(91, 84, 84);
    padding: 4vw 10vw;
}

.popilarService{
     .psSlide{
        padding: 12vw;
     }
}
.h-three{
    
    background-color: #c7e9c33d;
    width: 100vw;
    height: 45vw;
    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center;
    .left-sp{
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
        li{
            font-weight: 700;
            font-size: 1.2vw;
        }
        p{
            position: relative;
            font-size: 1.2vw;
            left: 1.6vw;
            top: 0.2vw;
        }
    }
    h3{
        font-size: 2vw;
        font-weight: 600;
    }
    video{
        overflow: hidden;
        width: 45vw;
        border-radius: 5px;
        
    }
}

.h-five{
    padding: 0vw 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 38vw;
    background-color: #0B083E;
    color: white;
    
    .left-baner{
        display: flex;
        flex-direction: column;
        gap: 2vw;
        span{
            font-weight: 800;
        }
         h3{
            font-size: 2vw;
            font-weight: 300;
         }
         h2{
            font-size: 2.5vw;
            text-wrap: nowrap;
            font-weight: 500;
         }
         button{
            padding: 1vw;
            width: 10vw;
            background-color: #f3880f;
            color: white;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
         }
    }
       img{
        width: 40vw;
       }
}